* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 540px) and (min-width: 320px) {
	#header .forabout .navbar-light .navbar-toggler {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	#header .forabout .white-layer .consult {
        margin-top: 25px;
        margin-right: 0;
        float: right;
	}

	.forabout .white-layer a.phone {
		top: 50px;
	}

	#breadcrumbs h1 {
		display: flex;
        justify-content: center;
	}

	#breadcrumbs .breadcrumb {
		display: flex;
        justify-content: center;
	}

	#introduction {
		padding-right: 15px;
		padding-left: 15px;
	}

	#team h3 {
		padding-left: 15px;
	}

	#team .col-xl-3 {
		margin-bottom: 15px;
	}

	#workspace h3 {
		padding-left: 15px;
	}

	.owl-carousel .owl-nav {
		margin-right: 0;
		width: 100%;
		top: 225px;
		background: none;  
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
		color: #878787;
        font-size: 60px;
        width: unset;
        height: unset;
    }

	.owl-carousel .owl-nav button.owl-prev {
		margin-left: 0;
		background: none;
	}

	.owl-carousel .owl-nav button.owl-next {
		margin-right: 0;
		background: none;
	}

	#footer .row .col-xl-3.right .customer-email.forabout {
		display: table-header-group;
	}

	#copyright .payment {
		float: right;
	}
}

@media (max-width: 720px) and (min-width: 541px) {
	.forabout .white-layer .consult {
		float: right;
		top: 10px;
		right: 75px;
	}

	.forabout .white-layer a.phone {
		position: absolute;
		left: 140px;
		top: 22px;
	}

	#breadcrumbs h1, #breadcrumbs .center-container .breadcrumb {
		display: flex;
		justify-content: center;
	}

	#introduction {
		padding-right: 15px;
        padding-left: 15px;
	}

	#team h3 {
		padding-left: 15px;
	}

	#team .col-xl-3 {
		margin-bottom: 15px;
	}

	#workspace h3 {
		padding-left: 15px;
	}

	.owl-carousel .owl-nav {
		margin-right: 0;
		width: 100%;
		top: 225px;
		background: none;  
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
		color: #878787;
        font-size: 60px;
        width: unset;
        height: unset;
    }

	.owl-carousel .owl-nav button.owl-prev {
		margin-left: 0;
		background: none;
	}

	.owl-carousel .owl-nav button.owl-next {
		margin-right: 0;
		background: none;
	}

	#footer .row .col-xl-3.right .customer-email.forabout {
		display: table-header-group;
	}

	#copyright .payment {
		float: right;
	}
}

@media (max-width: 991px) and (min-width: 721px) {
    .forabout .white-layer .consult {
		float: right;
		top: 10px;
		right: 75px;
	}

	.forabout .white-layer a.phone {
		position: absolute;
		left: 145px;
	}

	.forabout .white-layer .consult {
		float: right;
	}

	#breadcrumbs h1, #breadcrumbs .center-container .breadcrumb {
		display: flex;
		justify-content: center;
	}

	#introduction {
		padding-right: 15px;
        padding-left: 15px;
	}

	#team h3 {
		padding-left: 15px;
	}

	#team .col-xl-3 {
		margin-bottom: 15px;
	}

	#workspace h3 {
		padding-left: 15px;
	}

	.owl-carousel .owl-nav {
		margin-right: 0;
		width: 100%;
		top: 225px;
		background: none;  
	}

	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
		color: #878787;
        font-size: 60px;
        width: unset;
        height: unset;
    }

	.owl-carousel .owl-nav button.owl-prev {
		margin-left: 0;
		background: none;
	}

	.owl-carousel .owl-nav button.owl-next {
		margin-right: 0;
		background: none;
	}

	#footer .row .col-xl-3.right .customer-email.forabout {
		display: table-header-group;
	}

	#copyright .payment {
		float: right;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
    .white-layer .width992 {
		float: right;
	}

	.forabout .white-layer .navigation {
		margin-left: 0;
		float: left;
	}

	.forabout .white-layer .consult {
		float: right;
	}


	#breadcrumbs h1, #breadcrumbs .center-container .breadcrumb {
		display: flex;
		justify-content: center;
	}

	#introduction {
		padding-right: 15px;
        padding-left: 15px;
	}

	#team h3 {
		padding-left: 15px;
	}

	#team .col-xl-3 {
		margin-bottom: 15px;
		flex: 0 0 50%;
		max-width: 50%;
	}

	#workspace h3 {
		padding-left: 15px;
	}

	#footer .row .col-xl-3.right .customer-email.forabout {
		display: table-header-group;
	}

	#copyright .payment {
		float: right;
	}
}