* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.full-width {
    margin: 30px;
}
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}
.col-2 {
    width: 213px;
}
.icon-star {
    font-size: 0.75rem;
    color: #C8A760;
}
.icon-star-empty {
    font-size: 0.75rem;
    color: #C8A760;
    color: #D8D8D8;
}
#header {
    margin-bottom: 40px;
}
#header label {
    display: none;
}
.black-layer {
    background-color: #282828;
}
.black-layer .contact-info {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    color: #A1A1A1;
    letter-spacing: 1px;
}
.black-layer .contact-info a {
    color: #A1A1A1;
}
.black-layer .contact-info .phone {
    padding: 12px 16px 12px 14px;
    border: none;
    background-color: #3F3E43;
}
.black-layer .contact-info .email {
    padding: 12px 16px 12px 14px;
    border: none;
    background-color: #282828;
}
.black-layer .formember {
    float: right;
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    color: #A1A1A1;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.black-layer .formember a {
    color: #A1A1A1;
}
.black-layer .formember .checkout {
    padding: 12px 16px 12px 14px;
    border: none;
    background-color: #3F3E43;
}
.black-layer .formember .track {
    padding: 12px 16px 12px 14px;
    border: none;
    background-color: #282828;
}
.black-layer .formember .account {
    padding: 12px 16px 12px 14px;
    border: none;
    background-color: #282828;
}
.white-layer {
    margin-top: 20px;
}
.white-layer .logo {
	float: left;
}

.white-layer .navigation {
	margin-left: 216px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

.white-layer .navigation .nav-link {
	font-size: 	0.875rem;
	color: #4C4C4C;
}

.white-layer .navigation .nav-item {
	margin-right: 15px;
}

.consult .list-group-horizontal .list-group-item {
  padding: 0;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.consult .list-group-horizontal .list-group-item.search {
  margin-right: 35px;
  font-size: 1.75rem;
}

.consult .list-group-horizontal .list-group-item.cart {
  margin-right: 15px;
  font-size: 1.75rem;
}

.consult .list-group-horizontal .list-group-item.shopping a {
  color: #000000;
}

.consult .list-group-horizontal .list-group-item.shopping .title {
  font-weight: 700;
  text-transform: uppercase;
}

.consult .list-group-horizontal .list-group-item.shopping .item {
  font-weight: 500;
}

#premier .first .left.col-xl-6 {
	margin-right: 10px;
	padding: 0 0 0 15px;
}

#premier .first .left.col-xl-6 img {
    position: relative;
}

.first .left .text {
    position: absolute;
    top: 176px;
    left: 50px;
    color: white;
}

.first .left .text .subtitle {
    display: inline;
    height: 29px;
    padding: 10px 9px 13px 10px;
    background-color: #535353;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.first .left .text .line1 {
    display: flex;
    justify-content: end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 4.5rem;
}

.first .left .text .line2 {
    display: inline;
    line-height: .7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 4.5rem;
}

.first .left .text .description {
    margin-top: 17px;
    margin-bottom: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: capitalize;
}

.first .left .text .price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}

#premier .first .middle.col-xl-3 {
	margin-right: 36px;
	padding: 0;
}

.first .middle.col-xl-3 img {
  position: relative;
}

.first .middle.col-xl-3 {
	  margin-right: 58px;
	  flex: 0 0 20%;
    max-width: 20%;
    padding: 0;
    width: 276px;
    height: 563px;
    color: #ffff;
}

.first .middle.col-xl-3 .text {
  position: absolute;
  top: 23px;
}

.first .middle .subtitle {
  margin-top: 23px;
  margin-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}

.first .middle .title {
  margin-top: 24px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.first .middle .price {
  margin-top: 126px;
  margin-left: 130px;
  height: 130px;
  width: 130px;
  border-radius: 90%;
  background-color: #62C5DE;
}

.first .middle .price .original-price {
  display: flex;
  padding-top: 29px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  text-decoration: line-through;
  color: #C5E7F1;
}

.first .middle .price .special-price {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.first .middle .call-action {
  margin-top: 73px;
  margin-left: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3125rem;
  text-transform: uppercase;
}

.first .middle .call-action p {
  margin-right: 17px;
  float: left;
}

.first .middle .call-action a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 90%;
  color: #FFFFFF;
}

.first .right .right-up {
  padding: 0;
  width: 294px;
  height: 275px;
}

.first .right .right-up img {
  position: relative;
}

.first .right .right-up .text {
  position: absolute;
  top: 11px;
  left: 72px;
}
.first .right .right-up .title {
  margin-left: 16px;
  padding-top: 35px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #939393;
}
.first .right .right-up .rank {
  margin-top: 2px;
  margin-left: 115px;
  width: 47px;
  display: flex;
  justify-content: space-between;
}
.first .right .right-up .price {
  margin-left: 16px;
  margin-top: 45px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #991015;
}
.first .right .right-up .call-action {
  margin-left: 16px;
}
.first .right .right-up .call-action a {
  padding: 5px;
  display: inline-block;
  float: right;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: right;
  text-transform: uppercase;
  color: white;
}

.first .right .right-down {
  margin-top: 14px;
  padding: 0;
  width: 294px;
  height: 275px;
}
.first .right .right-down img {
  position: relative;
}
.first .right .right-down .text {
  position: absolute;
  bottom: 20px;
}
.first .right .right-down .title {
  margin-left: 18px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #2C3E66;
  letter-spacing: .7px;
}
.first .right .right-down .rank {
  margin-top: 50px;
  margin-left: 18px;
  display: flex;
  justify-content: flex-start;
  width: 81px;
}
.first .right .right-down .price {
  margin-left: 18px;
}
.first .right .right-down .price .original-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #9F9F9F;
  text-decoration: line-through;
}
.first .right .right-down .price .special-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #2C3E65;
}
.first .right .right-down .call-action {
  margin-left: 18px;
  width: 121px;
  color: #2D4169;
}
.first .right .right-down .call-action p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.first .right .right-down .call-action a {
  margin-left: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 1px solid #2D4169;
  border-radius: 90%;
  color: #2D4169;
  font-weight: 700;
}

#premier .second {
  margin-top: 18px;
}
.second .col-4 {
  padding: 0;
}
.second .left {
	padding: 0 16px;
	float: left;
}
.second .left .left-up {
  width: 414px;
  height: 223px;
  color: white;
}
.second .left .left-up img {
  position: absolute;
}
.second .left .left-up .text {
  position: relative;
}
.second .left .left-up .subtitle {
  margin-left: 272px;
  padding-top: 45px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 4px;
}
.second .left .left-up .title {
  margin-right: 76px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.second .left .left-up .call-action {
  margin-left: 219px;
  margin-top: 84px;
  width: 117px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.second .left .left-up .call-action a {
  margin-left: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B1DE89;
  height: 25px;
  width: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 90%;
  color: #FFFFFF;
}
.second .left .left-down {
  margin-top: 21px;
  width: 414px;
  height: 334px;
}
.second .left .left-down img {
  position: relative;
}
.second .left .left-down .text {
  position: absolute;
  bottom: 35px;
  left: 106px;
}
.second .left .left-down .subtitle {
  padding-top: 46px;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #B7B7B7;
  letter-spacing: 3px;
}
.second .left .left-down .title {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #535353;
  letter-spacing: 3px;
}
.second .left .left-down .call-action {
  margin-top: 184px;
  float: right;
  text-align: right;
  width: 117px;
}
.second .left .left-down .call-action p {
  margin-right: 7px;
  padding-top: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #979797;
}
.second .left .left-down .call-action a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #979797;
  border-radius: 90%;
  color: #979797;
  font-weight: 700;
}
.second .right {
	padding: 0 0 0 38px;
    float: right;
    width: 765px;
    flex: 0 0 63.4%;
}
.second .right img {
  position: relative;
}
.second .right .text {
  position: absolute;
  top: 28px;
}
.second .right .subtitle {
  margin-left: 30px;
  padding-top: 37px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #6A6A6A;
  letter-spacing: 2px;
}
.second .right .title {
  margin-left: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  font-size: 3.25rem;
  color: #535353;
}
.second .right .title .line1 {
  font-weight: 600;
}
.second .right .title .line2 {
  font-weight: 300;
}
.second .right .description {
  margin-left: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: capitalize;
  color: #6A6A6A;
  letter-spacing: .5px;
}
.second .right .change-picture {
  margin-top: 256px;
  margin-left: 30px;
}
.second .right .change-picture .one {
  width: 18px;
  height: 18px;
  border: 2px solid #D2D2D2;
  border-radius: 90%;
}
.second .right .change-picture .two {
  margin-left: 3px;
  width: 18px;
  height: 18px;
  border: 2px solid #D2D2D2;
  border-radius: 90%;
}
.second .right .change-picture .three {
  margin-left: 3px;
  width: 18px;
  height: 18px;
  border: 2px solid #AEAEAE;
  border-radius: 90%;
}
#feature {
  margin: 42px auto 55px auto;
  display: block;
  width: 100%;
}
#feature .navigation {
  width: 100%;
}
#feature .navigation .nav {
  display: flex;
  align-items: baseline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}
#feature .navigation .nav a {
  color: #838182;
}
#feature .navigation .nav p {
  color: #838182;
  font-weight: 400;
}
#feature .navigation .nav .nav-item .active {
  padding-left: 0;
  color: #3A3A3A;
}
#feature .navigation .switch {
  width: 71px;
  height: 38px;
  background-color: #EEEEEE;
  border-radius: 45px;
}
#feature .navigation .switch .switch-button {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
#feature .navigation .switch .switch-button a {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 90%;
  font-size: 1.125rem;
  font-weight: 500;
  color: #BEBEBE;
}
#feature .navigation .switch .switch-button a.first {
  margin-right: 3px;
  margin-bottom: 0;
}
#feature .first {
  margin-bottom: 72px;
}
#feature .first .col-xlo-3 {
  float: left;
}
#feature .first .col-xl-3 .product {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.1875rem;
  color: #747474;
  text-transform: capitalize;
}
#feature .first .col-xl-3 .price {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #010101;
}
#feature .first .col-xl-3 .no-rank {
  margin-top: 22px;
}
#feature .first .col-xl-3.third img {
  position: relative;
}
#feature .first .col-xl-3.third .count {
  position: absolute;
  top: 36px;
  width: 81px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B2CC29;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
}
#feature .rank {
  display: flex;
  justify-content: flex-start;
}
#feature .second img {
  position: relative;
  width: 100%;
}
#feature .second .text {
  position: absolute;
  bottom: 12px;
}
#feature .second .col-xl-4 {
  padding: 0;
  width: 400px;
  height: 210px;
}
#feature .second .col-xl-4 .subtitle {
  margin-left: 40px;
  padding-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #B7B7B7;
  text-transform: capitalize;
  letter-spacing: 3px;
}
#feature .second .col-xl-4 .product {
  margin-left: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.125rem;
  color: #535353;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#feature .second .col-xl-4 .call-action {
  margin-left: 40px;
  margin-top: 76px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  color: #979797;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#feature .second .col-xl-4 .call-action a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  color: #979797;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #9D9D9D;
  border-radius: 90%;
}
#feature .second .col-xl-4 .call-action p {
  margin-right: 5px;
}
#best-seller {
  margin-bottom: 71px;
}
#best-seller .heading {
  margin-bottom: 24px;
  width: 100%;
}
#best-seller .heading .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #3A3A3A;
  text-transform: uppercase;
  letter-spacing: .5px;
}
#best-seller .heading .switch {
  width: 71px;
  height: 38px;
  background-color: #EEEEEE;
  border-radius: 45px;
}
#best-seller .heading .switch .switch-button {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
#best-seller .heading .switch .switch-button a {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 90%;
  font-size: 1.125rem;
  font-weight: 500;
  color: #BEBEBE;
}
#best-seller .heading .switch .switch-button a.first {
  margin-right: 3px;
}
#best-seller .row {
  display: flex;
  justify-content: space-between;
}
#best-seller .row .col-xl-2 {
  padding: 0;
}
#best-seller .row .col-xl-2 .product {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #757575;
  font-size: 1.1875rem;
  text-transform: capitalize;
}
#best-seller .row .col-xl-2 .price {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #010101;
}
#best-seller .row .col-xl-2.first {
  position: relative;
}
#best-seller .row .col-xl-2.first .tag {
  position: absolute;
  top: 21px;
  width: 48px;
  text-align: center;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
}
#best-seller .row .col-xl-2.first .rank {
  position: absolute;
  left: 10px;
  top: 175px;
  display: flex;
  justify-content: flex-start;
}
#best-seller .row .col-xl-2.second {
  position: relative;
}
#best-seller .row .col-xl-2.second .action {
  position: absolute;
  top: 158px;
  background-color: white;
  border: 1px solid #EEEEEE;
  max-width: 213px;
  height: 54px;
  color: #8A8A8A;
}
#best-seller .row .col-xl-2.second .action .list-group-item {
  border: none;
}
#best-seller .row .col-xl-2.second .action .bag {
  margin-top: 11px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  width: 126px;
  border-right: 2px solid #EEEEEE;
}
#best-seller .row .col-xl-2.second .action .bag p {
  margin-top: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
}
#best-seller .row .col-xl-2.second .action .like {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  border-right: 2px solid #EEEEEE;
}
#best-seller .row .col-xl-2.second .action .arrow {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
}
#best-seller .row .col-xl-2.fourth {
  position: relative;
}
#best-seller .row .col-xl-2.fourth .count {
  padding: 5px;
  position: absolute;
  top: 27px;
  background-color: #B2CC29;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
}
#best-seller .row .col-xl-2.fourth .tag {
  padding: 5px;
  position: absolute;
  top: 61px;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
#best-seller .row .col-xl-2.fifth {
  position: relative;
}
#best-seller .row .col-xl-2.fifth .action {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 149px;
  left: 25px;
  width: 165px;
  color: #8A8A8A;
}
#best-seller .row .col-xl-2.fifth .list-group-item {
  border: none;
  padding: 15px;
}
#best-seller .row .col-xl-2.fifth .list-group-item.bag {
  padding-right: 0;
}
#best-seller .row .col-xl-2.fifth .list-group-item.heart {
  padding-left: 0;
  padding-right: 0;
}
#best-seller .row .col-xl-2.fifth .list-group-item.eye {
  padding-left: 0;
}
#brands {
  margin-bottom: 90px;
}
#brands .heading {
  margin-bottom: 35px;
}
#brands .heading p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #3A3A3A;
  text-transform: uppercase;
}
#brands .heading p span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 2px;
  color: #A0A0A0;
}
#brands .brand .row {
  margin: 0 auto;
}
#gurantee {
  background-color: #F6F6F6;
}
#gurantee .icon {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 87px;
}
#gurantee i {
  font-size: 2rem;
  color: #838182;
}
#gurantee .row .col-xl-3 {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#gurantee .row .col-xl-3 .content {
  margin-left: 10px;
  width: 400px;
}
#gurantee .row .col-xl-3 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: .875rem;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: .5px;
}
#gurantee .row .col-xl-3 p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: capitalize;
  color: #6C6C6C;
}
#footer {
  background-color: #F6F6F6;
}
#footer #gurantee .row {
  padding-top: 35px;
  height: 190px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
#footer #upper {
  height: 460px;
}
#footer #upper .row .col-xl-3 p {
  margin-top: 28px;
  margin-bottom: 37px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: capitalize;
  color: #868686;
}
#footer .row {
  padding-top: 60px;
}
#footer .row .col-xl-3.left {
  margin-right: 88px;
}
#footer .row .col-xl-3 .list-group-item {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  color: #868686;
}
#footer .row .col-xl-3 .list-group-item i {
  margin-right: 5px;
  font-size: 0.875rem;
}
#footer .row .col-xl-3 .list-group-item:first-child {
  margin-bottom: 30px;
}
#footer .row .col-xl-3 .address {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #868686;
}
#footer .row .col-xl-3 a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #868686;
}
#footer .row .col-xl-6 {
  padding: 0;
  flex: 0 0 42%;
}
#footer .row .col-xl-6 .categories {
  margin-right: 68px;
}
#footer .row .col-xl-6 .information {
  float: left;
  margin-right: 68px;
}
#footer .row .col-xl-6 .list-group {
  margin-top: 40px;
}
#footer .row .col-xl-6 .list-group-item {
  margin-bottom: 20px;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #8F8F8F;
  text-transform: capitalize;
}
#footer .row .col-xl-6 .list-group-item a {
  margin-bottom: 20px;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #8F8F8F;
  text-transform: capitalize;
}
#footer .row h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  overflow-y: hidden;
}
#footer .row .col-xl-3.right {
  padding: 0;
}
#footer .row .col-xl-3.right h4 {
  text-align: right;
}
#footer .row .col-xl-3.right .customer-email {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
}
#footer .row .col-xl-3.right .customer-email input {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  width: 172px;
  height: 43px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
}
#footer .row .col-xl-3.right .customer-email label {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 88px;
  height: 43px;
}
#footer .row .col-xl-3.right .social-media {
  margin-top: 102px;
}
#footer .row .col-xl-3.right .icons {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  float: right;
  width: 175px;
}
#copyright {
  margin: 45px auto 51px auto;
  width: 100%;
  background-color: white;
}
#copyright .payment {
  float: right;
}

/*About*/
.full-width {
  margin: 0 30px 9px 30px;
}
.full-width .white-layer a.phone {
  margin-top: 12px;
  margin-left: 32px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
}
.full-width .white-layer .navigation {
  margin-top: 2px;
  margin-left: 273px;
}
.full-width .white-layer .navigation .nav-item {
  margin-right: 0;
}
.full-width .white-layer .consult {
  position: relative;
  bottom: 5px;
}
.full-width .white-layer .consult .list-group-item {
  margin-right: 0;
}
.full-width .white-layer .consult .list-group-item i {
  font-size: 1rem;
}
.full-width .white-layer .consult .search {
  margin-right: 19px;
}
.full-width .white-layer .consult .cart {
  margin-right: 19px;
}
#breadcrumbs {
  margin-bottom: 93px;
  padding-top: 78px;
  padding-bottom: 61px;
  background-color: #F4F4F4;
}
#breadcrumbs h1 {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 246px;
}
#breadcrumbs .center-container .breadcrumb {
  margin: 0 auto;
  width: 187px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: #F4F4F4;
}
#breadcrumbs .center-container .breadcrumb a {
  color: #494949;
}
#introduction .container h3 {
  margin-bottom: 64px;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.875rem;
  color: #494949;
}
#introduction .container .paragraphe {
  margin-bottom: 69px;
}
#introduction .container .paragraphe p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #494949;
}
#introduction .container .paragraphe p.paragraphe1 {
  margin-bottom: 0;
}
#introduction .container .paragraphe b.paragraphe2 {
  font-size: 1.25rem;
}
#introduction .container .paragraphe p.paragraphe3 {
  margin-top: 30px;
}
#introduction .container .social-media h5 {
  overflow: visible;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  color: #494949;
}
#introduction .container .social-media .icons a {
  color: #494949;
}
#team {
  margin-top: 121px;
  margin-bottom: 133px;
}
#team h3 {
  margin-bottom: 42px;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #494949;
}
#team .row .col-xl-3 .check-out:hover .personal-social-media {
  display: block;
}
#team .row .col-xl-3 img {
  position: relative;
  transition: 0.3s;
}
#team .row .col-xl-3 .personal-social-media {
  display: none;
  width: 256px;
  height: 290px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 68px;
  transition: .3s;
}
#team .row .col-xl-3 .personal-social-media .social-links {
  overflow: visible;
  position: absolute;
  top: 135px;
  left: 74px;
}
#team .row .col-xl-3 .personal-social-media .social-links a {
  width: 41px;
  height: 41px;
  background: black;
  border-radius: 90%;
  padding: 5px;
  color: white;
}
#team .row .col-xl-3 .present {
  margin-top: 27px;
  padding-left: 10px;
  border-left: 8px solid #EEEEEE;
}
#team .row .col-xl-3 .present .name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #494949;
}
#team .row .col-xl-3 .present .post {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #A0A0A0;
}
#workspace {
  margin-bottom: 108px;
}
#workspace .container h3 {
  margin-bottom: 42px;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #494949;
}
#workspace .full-width .carousel-inner .carousel-item .col-lg-2 .left-up-img {
  margin-bottom: 11px;
}
#workspace .full-width .carousel-inner .carousel-item .col-lg-5 {
  padding: 0 0 0 15px;
}
#workspace .full-width .carousel-inner .carousel-item .col-lg-5 .down {
  margin-top: 14px;
}
#workspace .full-width .carousel-indicators li {
  width: 91px;
  background-color: #ECECEC;
}
#workspace .full-width .carousel-indicators li.active {
  background-color: #B6B6B6;
}
