* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 540px) and (min-width: 320px) {
	.container {
		margin: 0 auto;
		width: 100%;
	}

	.row {
		width: 100%;
		margin-right: 0;
        margin-left: 0;
	}

	#header .contact-info {
		display: none;
	}

	#header .formember {
		float: left;
	}

	.navbar-brand {
		margin-right: 0;
	}

	#header .navigation .nav {
		display: none;
	}

	#header .white-layer {
		margin-bottom: 65px;
		position: relative;
	}

	.white-layer nav {
		margin-top: 55px;
	}

	.navbar-expand-lg .navbar-collapse {
		margin-right: 0;
	}

	#header .white-layer .consult {
		right: 16px;
        top: -50px;
	}

	.consult .list-group li:not(:last-child) {
		margin-right: 10px;
	}

	#premier .first .left.col-xl-6 {
		margin-bottom: 14px;
	}

	#premier .first .left.col-xl-6 img {
		height: 563px;
	}

	.first .left .text {
		width: 250px;
	}

	.first .left .text .line2 {
		font-size: 3.5rem;
	}

	#premier .first .middle.col-xl-3 {
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
	}

	.first .middle.col-xl-3 img {
		height: 563px;
	}

	.first .middle .call-action a {
		float: left;
	}

	.first .right .right-up {
		margin-bottom: 10px;
	}

	.first .right .right-up img {
		height: 285px;
	}

	.first .right .right-up .title {
		margin-left: 0;
		text-align: left;
	}

	.first .right .right-up .rank {
		margin-left: 0;
	}

	.first .right .right-up .price {
		margin-left: 0;
	}

	.first .right .right-up .call-action {
		margin-left: 0;
	}

	.first .right .right-up .price {
		text-align: left;
	}

	.first .right .right-up .call-action a {
		float: left;
	}

	.first .right .right-down img {
        height: 275px;
	}

	.first .right .right-down .text {
		margin-left: 56px;
	}

	#premier .second {
		margin-top: 14px;
	}

	#premier .second .left .left-up img {
		height: 223px;
	}

	#premier .second .left .left-up .text {
		left: 67px;
	}

	#premier .second .left .left-up .subtitle {
		text-align: right;
		margin-left: 0;
	}

	#premier .second .left .left-up .title {
		margin-right: 0;
	}

	#premier .second .left .left-up .call-action {
		display: flex;
        flex-direction: row;
	}

	#premier .second .left .left-down {
		margin-top: 14px;
		margin-bottom: 14px;
	}

	#premier .second .left .left-down img {
        height: 334px;
	}

	#premier .second .left .left-down .text {
		left: 20px;
	}

	#premier .second .left .left-down .subtitle {
		text-align: left;
	}

	#premier .second .left .left-down .call-action {
		float: left;
	}

	#premier .second .right img {
		height: 579px;
	}

	.second .right .text {
		width: 284px;
	}

	#premier .second .right .title {
		font-size: 1.9rem;
	}

	#feature .navigation {
		margin-bottom: 45px;
		padding-right: 15px;
		padding-left: 15px;
	}

	#feature .navigation .nav {
		justify-content: flex-end;
	}

	.owl-carousel .owl-nav {
		margin-right: 20px;
		width: 71px;
        height: 38px;
        position: absolute;
        right: 0;
        top: -45px;
        background-color: #EEEEEE;
        border-radius: 45px;
        justify-content: center;
        align-items: center;
	}

	.owl-carousel .owl-nav button.owl-prev {
        margin-right: 3px;
        margin-left: 4px;
        margin-top: 3px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 90%;
        font-size: 1.125rem;
        font-weight: 500;
        color: #BEBEBE;
	}

	.owl-carousel .owl-nav button.owl-next {
		margin-top: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 90%;
        font-size: 1.125rem;
        font-weight: 500;
        color: #BEBEBE;
	}

	#feature .col-xl-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	#feature .first .content {
		margin-left: 5px;
	}

	#feature .second .col-xl-4 img {
        height: 210px;
	}

	#best-seller .heading {
		padding: 0 23px;
	}

	#best-seller .owl-carousel .owl-nav {
		top: -60px;
	}

	#best-seller .row .col-12.first .product, #best-seller .row .col-12.first .price {
		margin-left: 0;
	}

	#best-seller .col-xl-2 .wrap {
		display: flex;
		justify-content: center;
	}

	#best-seller .col-xl-2.second .wrap .on-img {
		display: none;
		justify-content: center;
		width: 91%;
	}

	#best-seller .col-xl-2 .wrap:hover .on-img {
		display: flex;
	}
	#best-seller .col-xl-2 .wrap .on-img .list-group{
		width: 60%;
	}
	#best-seller .col-xl-2.second .action li {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#best-seller .col-xl-2.second .action  .bag {
		width: 60%;
	}
	#best-seller .col-xl-2.second .action .like, .col-xl-2.second .action .arrow {
		width: 20%;
	}

	#best-seller .col-xl-2.fifth .wrap .on-img {
		width: auto;
	}

	#best-seller .col-xl-2.fifth .wrap .on-img .action {
		margin-left: 5%;
	}

	#brands {
		margin-bottom: 35px;
	}

	#brands .heading {
		margin-left: 14px;
	}

	#brands .brand .col-6 {
		margin-bottom: 35px;
	} 

	#footer #gurantee .row {
		padding: 20px;
		height: auto;
	}

	#gurantee .row .col-xl-3:nth-child(3)  {
		padding-left: 15px;
	}

	#footer #gurantee .col-12 {
		margin-bottom: 20px;
	}

	#footer #upper {
		height: auto;
	}

	#footer .row .col-12.left {
		margin-bottom: 40px;
		margin-right: 0;
	}

	#footer .row .col-12.center {
		margin: 0 0 0 18px;
	}

	#footer .row .col-xl-6 .information {
		margin-right: 0;
	}

	#footer .row .col-12.right {
		padding: 30px;
	}

	#copyright .payment {
		float: left;
	}

	.for-shopping-bag .card {
		padding-left: 10px;
        padding-right: 10px;
		position: absolute;
		right: 22px;
        top: 106px;
		width: 300px;
	}

	/*Popup*/
	.modal-popup {
		width: 80%;
        left: 10%;
	}

	.modal-popup .title-at-background {
		left: 25px;
		font-size: 3.25rem;
	}

	.modal-popup img {
		width: 75%;
        height: auto;
        top: 255px;
        left: 104px;
	}

	.modal-main-info {
        position: absolute;
        left: 15px;
	}

	.modal-popup .modal-main-info input {
		width: auto;
	}

	.modal-popup .disappear {
		position: absolute;
        bottom: 0px;
        left: 20px;
	}

	.regular-checkbox.popup + label.form-check-label {
		top: -18px;
	}

	.modal-popup .disappear p {
		position: absolute;
        width: 200px;
        bottom: 0;
	}

	/*full-width search-bar*/
	#search-full-page .full-page-container {
		margin-top: 156px;
		width: 100%;
	}

	.full-width-search-bar {
		margin: 50px auto 0 auto;
		position: unset;
		width: 77%;
	}

	.full-width-search-bar input {
		width: 90%;
	}

	.type-in {
		display: flex;
	}

	/*Product menu dropdown*/ 
	#menu-big .menu-container {
		padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
		width: 100%;
		height: 256px;
		top: 225px;
        left: 1px;
        overflow-y: scroll;
    }

    #menu-big .triangle {
    	top: 216px;
        left: 54px;
    }

    #menu-big .up-layer ul.index {
    	flex-direction: column;
    }

    #menu-big .up-layer ul.index > li {
    	margin-top: 30px;
    }

    #menu-big .down-layer {
    	flex-direction: column;
    }

    #menu-big .sofa-discount {
    	margin-bottom: 15px;
    	width: 100%;
    }

    #menu-big .floor-lamp {
    	width: 100%;
    	height: 110px;
    }

    #menu-big .desc {
    	position: absolute;
        right: 25px;
    }
}

@media (max-width: 720px) and (min-width: 541px) {
	.container {
		margin: 0 auto;
		width: auto;
	}

	.row {
		width: 100%;
		margin-left: 0;
        margin-right: 0;
	}

	.black-layer .formember {
		float: left;
	}

	.white-layer .navigation .hamburger {
		display: block;
	}

	#header label {
		margin-top: 3px;
		margin-bottom: 0;
		display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
		border: 1px solid #313131;
        border-radius: 90%;
	}

	#header .navigation .nav {
		display: none;
	}

	.consult {
		right: 80px;
	}

	#premier .first .row {
		width: 100%;
		margin-left: 0;
        margin-right: 0;
	}

	#premier .first .left.col-xl-6 {
		margin-bottom: 14px;
	}

	#premier .first .left.col-xl-6 img {
        height: 563px;
	}

	.first .left .text {
		top: 120px;
	}

	#premier .first .middle.col-xl-3 {
		margin-right: 0;
		margin-bottom: 14px;
	}

	#premier .first .middle.col-xl-3 img {
		height: 563px;
	}

	#premier .first .middle.col-xl-3 .text {
		margin-left: 34px;
	}

	#premier .first .right .right-up img {
		height: 275px;
	}

	#premier .first .right .right-up {
		margin-bottom: 14px;
	}

	#premier .first .right .right-up .text {
		right: 40px;
	}

	#premier .first .right .right-up .rank {
		position: absolute;
        right: 19px;
	}

	#premier .first .right .right-up .price {
		margin-top: 90px;
	}
 
	#premier .first .right .right-down {
		width: auto;
	}

	#premier .first .right .right-down img {
		height: 275px;
	}

	#premier .first .right .right-down .text {
		margin-left: 30px;
	}

	#premier .second .row {
		margin-right: 0;
        margin-left: 0;
        display: block;
	}

	#premier .second .left .left-up {
		width: 100%;
	}

	#premier .second .left .left-up img {
        height: 223px;
	}

	#premier .second .left .left-up .text {
		right: 40px;
	}

	#premier .second .left .left-up .subtitle {
		margin-left: 0;
	}

	#premier .second .left .left-up .call-action {
		margin-left: 0;
	}

	#premier .second .left .left-down img {
		height: 334px;
	}

	#premier .second .left .left-down .text {
		left: 48%;
	}

	#premier .second .right {
		margin-top: 21px;
	}

	#premier .second .right img {
		height: 579px;
	}

	#feature .navigation {
		padding: 0 15px;
	}

	.owl-carousel .owl-nav {
		margin-right: 20px;
		width: 71px;
        height: 38px;
        position: absolute;
        right: 0;
        top: -45px;
        background-color: #EEEEEE;
        border-radius: 45px;
        justify-content: center;
        align-items: center;
	}

	.owl-carousel .owl-nav button.owl-prev {
        margin-right: 3px;
        margin-left: 4px;
        margin-top: 3px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 90%;
        font-size: 1.125rem;
        font-weight: 500;
        color: #BEBEBE;
	}

	.owl-carousel .owl-nav button.owl-next {
		margin-top: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 90%;
        font-size: 1.125rem;
        font-weight: 500;
        color: #BEBEBE;
	}

	#feature .row {
		margin-right: 0;
        margin-left: 0;
	}

	#feature .first .row img {
		height: 275px;
	}

	#feature .second img {
        height: 210px;
	}

	#best-seller .heading {
		padding: 0 15px;
	}

	#best-seller .owl-carousel .owl-nav {
		top: -60px;
	}

	#best-seller .row {
		padding-left: 15px;
	}

	#best-seller .row .col-xl-2.second .action { 
		top: 159px;
	}

	#best-seller .col-xl-2.fifth .wrap .on-img {
		width: auto;
	}

	#best-seller .col-xl-2.fifth.fifth .wrap .on-img .list-group {
		margin-left: 7%;
	}

	#brands {
		margin-bottom: 55px;
	}

	#brands .heading {
		padding: 0 15px;
	}

	#brands .brand .col-6 {
		margin-bottom: 35px;
	}

	#footer #gurantee .row {
		margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
        height: auto;
	}

	#gurantee .row .col-xl-3:nth-child(3)  {
		padding-left: 15px;
	}

	#footer #upper {
		height: auto;
	}

	#footer .row .col-xl-3.left {
		margin-right: 0;
	}

	#footer .row .col-12.center {
		padding: 30px 22px;
		flex: 0 0 100%;
	}

	#footer .row .col-12.right {
		padding-right: 68px;
		padding-bottom: 40px;
	}

	.for-shopping-bag .card {
		position: absolute;
        right: 115px;
        top: 148px;
	}

	/*Popup*/
	.modal-popup {
		width: 80%;
        left: 10%;
	}

	.modal-popup .title-at-background {
		left: 5px;
		font-size: 3.25rem;
	}

	.modal-popup img {
		width: 75%;
        height: auto;
        top: 215px;
        left: 104px;
	}

	.modal-main-info {
        position: absolute;
        top: 61px;
        left: 15px;
	}

	.modal-main-info br {
		display: block;
	}

	.modal-popup .disappear {
		position: absolute;
        bottom: 0px;
        left: 20px;
	}

	.regular-checkbox.popup + label.form-check-label {
		top: -18px;
	}

	.modal-popup .disappear p {
		position: absolute;
        width: 200px;
        bottom: 0;
	}

	/*full-width search-bar*/
	#search-full-page .full-page-container {
		margin-top: 156px;
		width: 100%;
	}

	.full-width-search-bar {
		margin: 50px auto 0 auto;
		position: unset;
		width: 77%;
	}

	.full-width-search-bar input {
		width: 90%;
	}

	.type-in {
		display: flex;
	}

	/*Product menu dropdown*/ 
	#menu-big .menu-container {
		padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
		width: 100%;
		height: 256px;
		top: 215px;
        left: 1px;
        overflow-y: scroll;
    }

    #menu-big .triangle {
    	top: 205px;
        left: 54px;
    }

    #menu-big .up-layer ul.index {
    	flex-direction: column;
    }

    #menu-big .up-layer ul.index > li {
    	margin-top: 30px;
    }

    #menu-big .down-layer {
    	flex-direction: column;
    }

    #menu-big .sofa-discount {
    	margin-bottom: 15px;
    	width: 100%;
    }

    #menu-big .floor-lamp {
    	width: 100%;
    	height: 110px;
    }

    #menu-big .desc {
    	position: absolute;
        right: 25px;
    }
}

@media (max-width: 720px) and (min-width: 624px) {
	.for-shopping-bag .card {
        top: 107px
	}

	/*full-width search-bar*/
	#search-full-page .full-page-container {
		margin-top: 114px;
		width: 100%;
	}

	/*Product menu dropdown*/ 
	#menu-big .menu-container {
		top: 170px;
    }

    #menu-big .triangle {
    	top: 160px;
    }
}

@media (max-width: 991px) and (min-width: 721px) {
	.container {
		margin: 0 auto;
		width: auto;
	}

	.row {
		width: 100%;
        margin-left: 0;
        margin-right: 0;
	}

	.black-layer .formember {
		float: right;
	}

	.white-layer .navigation .hamburger {
		display: block;
	}

	#header label {
		margin-top: 3px;
		margin-bottom: 0;
		display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
		border: 1px solid #313131;
        border-radius: 90%;
	}

	#header .navigation .nav {
		display: none;
	}

	.consult {
		right: 80px;
	}

	#premier .first .row {
		display: block;
	}

	#premier .first .row {
		display: block;
	}

	#premier .first .left.col-xl-6 {
		margin-bottom: 14px;
	}

	#premier .first .left.col-xl-6 img {
		height: 563px;
	}

	#premier .first .middle.col-xl-3  {
		margin-bottom: 14px;
	}

	#premier .first .middle.col-xl-3 img {
		height: 563px;
	}

	#premier .first .middle.col-xl-3 .text {
		left: 35px;
	}

    #premier .first .right .right-up {
		margin-bottom: 14px;
	}

	#premier .first .right .right-up img {
		height: 275px;
	}

	#premier .first .right .right-up .text {
		right: 30px;
	}

	#premier .first .right .right-up .price {
		margin-top: 85px;
	}

	#premier .first .right .right-up .rank {
		float: right;
        margin-right: 20px;
	}

	#premier .first .right .right-down {
		width: auto;
	}

	#premier .first .right .right-down img {
		height: 275px;
	}

	#premier .first .right .right-down .text {
		left: 40px;
	}

	#premier .second .left {
		margin-top: 21px;
	}

	#premier .second .left .left-up img {
        height: 223px;
	}

	#premier .second .left .left-up .text {
		right: 106px;
	}

	#premier .second .left .left-up .title {
		margin-right: -8px;
	}

	#premier .second .left .left-up .subtitle {
		margin-left: 152px;
	}

	#premier .second .left .left-up .call-action {
		margin-left: 152px;
	}

	#premier .second .left .left-down {
		width: 100%;
	}

	#feature .second .col-xl-4 img {
		height: 210px;
	}

	#premier .second .left .left-down img {
		height: 334px;
	}

	#premier .second .left .left-down .text {
		right: 50px;
	}

	#premier .second .right {
		margin-top: 21px;
	}

	#premier .second .right img {
		height: 579px;
	}

	#premier .second .row {
		display: block;
	}

	#feature .navigation {
		padding: 0 15px;
	}

	.owl-carousel .owl-nav {
		margin-right: 20px;
		width: 71px;
        height: 38px;
        position: absolute;
        right: 0;
        top: -45px;
        background-color: #EEEEEE;
        border-radius: 45px;
        justify-content: center;
        align-items: center;
	}

	.owl-carousel .owl-nav button.owl-prev {
        margin-right: 3px;
        margin-left: 4px;
        margin-top: 3px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 90%;
        font-size: 1.125rem;
        font-weight: 500;
        color: #BEBEBE;
	}

	.owl-carousel .owl-nav button.owl-next {
		margin-top: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 90%;
        font-size: 1.125rem;
        font-weight: 500;
        color: #BEBEBE;
	}

	#feature .first .row img {
		height: 275px;
	}

	#best-seller .heading {
		padding: 0 15px;
	}

	#best-seller .owl-carousel .owl-nav {
		top: -60px;
	}

	#best-seller .row .col-xl-2.second .action {
		top: 159px;
		width: auto;
	}

	#best-seller .col-xl-2 .wrap {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	#best-seller .col-xl-2.second .wrap .on-img {
		justify-content: center;
		width: 97%;
	}
	#best-seller .col-xl-2 .wrap:hover .on-img {
		display: flex;
	}
	#best-seller .col-xl-2 .wrap .on-img .list-group{
		width: 60%;
	}
	#best-seller .col-xl-2.second .action li {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#best-seller .col-xl-2.second .action  .bag {
		width: 60%;
	}
	#best-seller .col-xl-2.second .action .like, .col-xl-2.second .action .arrow {
		width: 20%;
	}

	#best-seller .col-xl-2.fifth .wrap .on-img {
		width: auto;
	}

	#best-seller .col-xl-2.fifth .wrap .on-img .action {
		margin-left: 5%;
	}

	#brands {
		margin-bottom: 55px;
	}

	#brands .heading {
		padding: 0 15px;
	}

	#brands .brand {
		margin-left: 70px;
	}

	#brands .brand .col-6 {
		margin-bottom: 35px;
	}

	#footer #gurantee .row {
		height: auto;
	}

	#gurantee .row .col-xl-3:nth-child(3) {
		padding-left: 15px;
	}

	#footer #upper {
		height: auto;
	}

	#footer .row .col-12.center {
		margin: 30px 22px;
		flex: 0 0 90%;
	}

	#footer .row .col-xl-3.left {
		margin-right: 0;
	}

	#footer .row .col-12.right {
		padding-right: 20px;
		padding-bottom: 40px;
	}

	.for-shopping-bag .card {
		position: absolute;
        right: 119px;
        top: 103px;
	}

	/*Popup*/
	.modal-popup {
		width: 80%;
        left: 10%;
	}

	.modal-popup .title-at-background {
		left: 5px;
		font-size: 4.25rem;
	}

	.modal-popup img {
		width: 75%;
        height: auto;
        top: 126px;
        left: 190px;
	}

	.modal-main-info {
        position: absolute;
        top: 75px;
        left: 15px;
	}

	.modal-main-info br {
		display: block;
	}

	.modal-popup .disappear {
		position: absolute;
        bottom: 0px;
        left: 20px;
	}

	.regular-checkbox.popup + label.form-check-label {
		top: -18px;
	}

	.modal-popup .disappear p {
		position: absolute;
        width: 200px;
        bottom: 0;
	}

	/*full-width search-bar*/
	#search-full-page .full-page-container {
		margin-top: 114px;
		width: 100%;
	}

	.full-width-search-bar {
		margin: 50px auto 0 auto;
		position: unset;
		width: 77%;
	}

	.full-width-search-bar input {
		width: 90%;
	}

	.type-in {
		display: flex;
	}

	/*Product menu dropdown*/ 
	#menu-big .menu-container {
		padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
		width: 100%;
		height: 256px;
		top: 170px;
        left: 1px;
        overflow-y: scroll;
    }

    #menu-big .triangle {
    	top: 160px;
        left: 54px;
    }

    #menu-big .up-layer ul.index {
    	display: unset;
    }

    #menu-big .up-layer ul.index > li {
    	margin-top: 30px;
    	width: 50%;
    	float: left;
    }

    #menu-big .down-layer {
    	flex-direction: column;
    }

    #menu-big .sofa-discount {
    	margin-bottom: 15px;
    	width: 100%;
    }

    #menu-big .floor-lamp {
    	width: 100%;
    	height: 110px;
    }

    #menu-big .desc {
    	position: absolute;
        right: 70px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
	.container {
		margin: 0 auto;
		width: auto;
	}

	.row {
		width: 100%;
        margin-left: 0;
        margin-right: 0;
	}

	.navbar-expand-lg {
		margin-right: 0;
        padding-right: 0;
	}

	.white-layer .consult {
        right: 0;
        top: 8px;
	}

	#premier .first .row {
		display: flex;
        justify-content: space-between;
	}

	#premier .first .left.col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
	}

	#premier .first .left.col-xl-6 img {
		height: 563px;
	}

	#premier .first .middle.col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
	}

	#premier .first .middle.col-xl-3 img {
		height: 563px;
	}

	.first .middle.col-xl-3 .text {
		left: 5px;
	}

	.first .middle .price {
		margin-left: 92px;
	}

	#premier .first .right.col-xl-3 {
		flex: 0 0 25%;
        max-width: 25%;
	}

	#premier .first .right.col-xl-3 img {
		height: 275px;
	}

	.first .right .right-up .text {
		left: 20px;
	}

	#premier .second .row {
		display: flex;
        justify-content: space-between;
	}

	#premier .second .left .left-up img {
        height: 223px;
	}

	.second .left .left-up .text {
		left: 85px;
	}

	.second .left .left-up .call-action {
		display: flex;
        flex-direction: row;
	}

	#premier .second .left .left-down img {
        height: 334px;
	}

	#premier .second .left .left-down .text {
		bottom: 15px;
        left: 30px;
	}

	#premier .second .right img {
		height: 579px;
	}

	#feature .navigation {
		padding: 0 15px;
	}

	#feature .first .col-xl-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	#feature .first .col-xl-3 img {
		height: 275px;
	}

	#feature .second img {
		height: 210px;
	}

	#feature .second .text {
		bottom: 36px;
	}

	#best-seller .heading {
		padding: 0 30px;
	}

	#best-seller .row {
		padding-right: 15px;
		padding-left: 15px;
	}

	#best-seller .row img {
		height: 213px;
	}

	#best-seller .fifth .wrap .on-img {
		width: auto;
	}

	#best-seller .fifth .wrap .on-img .list-group {
		margin-left: 6%;
	}
	
	#brands .heading {
		padding: 0 15px;
	}

	#footer #gurantee .row {
		padding-bottom: 21px;
	}

	#footer #gurantee .col-xl-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	#gurantee .row .col-xl-3:nth-child(3) {
    padding-left: 15px;
    }

	#footer #upper {
		height: auto;
	}

	#footer .row .col-lg-12.left {
		margin-bottom: 53px;
	}

	#footer .row .col-lg-6.center  {
		margin-left: 20px;
	}

	#footer .row .col-xl-6 .categories, #footer .row .col-xl-6 .information {
		margin-right: 47px;
	}

	.for-shopping-bag .card {
		position: absolute;
        right: 119px;
        top: 103px;
	}

	/*Popup*/
	.modal-popup {
		width: 80%;
        left: 10%;
	}

	.modal-main-info {
       position: absolute;
       top: 86px;
       left: 48px;
	}

	.modal-main-info br {
		display: block;
	}

	.modal-popup .disappear {
		position: absolute;
        bottom: 0px;
        left: 45px;
	}

	.regular-checkbox.popup + label.form-check-label {
		top: -18px;
	}

	.modal-popup .disappear p {
		position: absolute;
        width: 200px;
        bottom: 0;
	}
	
	/*full-width search-bar*/
	#search-full-page .full-page-container {
		margin-top: 114px;
		width: 100%;
	}

	.full-width-search-bar {
		margin: 50px auto 0 auto;
		position: unset;
		width: 77%;
	}

	.full-width-search-bar input {
		width: 90%;
	}

	.type-in {
		display: flex;
	}

	/*Product menu dropdown*/ 
	#menu-big .menu-container {
		padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
		width: 100%;
		top: 94px;
        left: 1px;
    }

    #menu-big .triangle {
    	top: 84px;
        left: 279px;
    }

    #menu-big .up-layer ul.index > li {
    	margin-top: 30px;
    }

    #menu-big .sofa-discount {
    	margin-bottom: 15px;
    	width: 100%;
    }

    #menu-big .floor-lamp {
    	width: 100%;
    	height: 115px;
    }

    #menu-big .desc {
    	position: absolute;
        right: 70px;
    }
}